body{
    font-family:'Roboto';
    font-weight:500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/*background laptop*/

.background{
    position:absolute;
    opacity: 0.18;
    width:100%;
    height:1140px;
  
}

/*my-logo*/

.logo{
    width: 500PX;
    height:800px;
    position:absolute;
    transform: translate(190px,100px) rotate(-6deg);
     
}

/*polygon right*/

#color-blue{
    position:fixed;
    background-color: #83C5BE;
    width:30em;
    height:70em;
    clip-path: polygon(0 100%, 100% 0, 0 0);
    opacity: 0.82;

}

/*image*/

.image{
    position:absolute;
    height:270px;
    width:290px;
    border-radius: 50%;
    margin-top: 12%;
    margin-left: 14%;
    
}

/*polygon left*/

#color-choclate{
    position:absolute;
    background-color:#A98467;
    width:30em;
    height:70em;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    transform: translate(178%,0%);
    opacity: 0.82;
   
}
/*menu*/

.menu{
    position:absolute;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: bold;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
        
}

nav{
    padding-left: 35%;
    padding-top:20px;
    
}
.menu-nav li a{

    text-decoration: none;
    color: ivory;
        
}
.menu-nav{
    list-style: none;
    display: grid;
    grid-template-columns:22% 22% 22% 22%;
    grid-column-gap: 1rem;
    align-items: center;
        
}

.nav-item {
    width: 6.5rem;
    text-align: center;
    padding: 1rem;
}
.nav-item:hover{

    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}


.menu-nav >.nav-item{

    background:#457B9D;  
}

.contact{
    position: absolute;
    margin-left:40%;
    margin-top:18%;
}
.full-name{

    width:200px;
    height:30px;

}
.message{
 margin-top:40px;


}

.email{

    margin-left:80px;
    width:200px;
    height:30px;

}
h1{
position: absolute;
text-shadow: #A98467 1px 1px, #A98467 -1px 1px, #A98467 -1px -1px, #A98467 1px -1px; 
padding-left:11%;
padding-top:4%;
font-size: 35px;
}
.send{

    position:absolute;
    background-color:#83C5BE;
    color:#000;
    text-shadow:  #A98467 -1px -1px, #A98467 1px -1px; 
    font-size: 20px;
    margin-left:40%;
    margin-top:40%;
    width:500px;
    height:33px;
}

.send:hover{

        background-color: gold;
}

   
.social-media{
    position: absolute;
    margin-top:75%;
    margin-left:84%;
}

.copyright{
    
   position: absolute;
   color:#fff;
   font-weight: bolder;
   transform: translate(1040px,1098px);
   

}